@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  color: #61dafb !important;
}

.App-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: 5rem;
}
.App-header h1 {
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  font-family: "Share Tech Mono", monospace;
}
.App-header img {
  height: 220px;
}
.App-link {
  color: #61dafb;
}
.navigator {
  color: #61dafb;
  position: absolute;
  width: 100%;
  background: transparent;
  font-family: "Share Tech Mono", monospace;
}
.particlesCanva {
  position: absolute;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button1 {
  background: #61dafb;
  width: 25%;
  min-width: 200px;
  height: 70px;
  color: black;
  cursor: pointer;
  transition: all 0.8s;
  border-radius: 40px;
  font-family: "Abel", sans-serif;
  font-size: 28px;
  max-width: 1280px;
  font-family: "Share Tech Mono", monospace;
  margin: 10px auto;
  padding: 0 20px;
  outline: none;
}

.button1:hover {
  background: black;
  color: #61dafb;
  outline: none;
}

.contain {
  height: auto;
  width: auto;

  margin: 0 auto;
}
.wrapper {
  padding: 0 48px;
}

.About h1 {
  font-size: calc(2rem + 3vw);
  text-transform: uppercase;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 10s;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 2s;
}
/* Header */
header {
  height: 100px;
}
.inner-header {
  position: relative;
  z-index: 10;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  position: absolute;
  font-weight: 700;
  text-decoration: none;
  font-family: "Share Tech Mono", monospace;
  color: #61dafb;
}

.logo-active h2 {
  position: absolute;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Share Tech Mono", monospace;
}
.menu button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: #61dafb;
}

/*Humburger menu*/
.humburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;

  height: 100vh;
  width: 100%;
}

.menu-secondary-background-color {
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.menu-layer {
  position: absolute;
  background: #61dafb;
  height: 100vh;
  width: 100%;
}
.wrapper {
  position: relative;
}

.menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 80px;
}
.menu-links nav {
  display: block;
  color: black;
}
.menu-links nav ul {
  padding: 0;
  margin: 0;
}

.menu-links nav ul li {
  color: black;
  text-decoration: none;

  list-style: none;
  font-size: 6rem;
  font-weight: 700;

  cursor: pointer;
  height: 135px;
  overflow: hidden;
  position: relative;
  width: 700px;
}

.menu-links nav ul li:hover {
  color: white;
  text-decoration: none;
}

.info {
  color: black;
  width: 300px;
}

.info h3 {
  font-size: 1.2rem;
  margin: 0 auto;
}

.info h3 p {
  margin: 0 auto;
  font-size: 0.8rem;
}

.socials {
  position: absolute;
  bottom: -80px;
  color: black;
  margin-top: 16px;
  font-size: 0.8rem;
  font-weight: 600;
}

.socials span {
  cursor: pointer;
  margin: 0 32px;
  transition: 0.3s ease-in-out;
  font-weight: 400;
}

.socials span:first-child {
  margin-left: 64x;
}

.socials span:hover {
  color: #fff;
  background: black;
  padding: 8px 24px;
  border-radius: 4px;
}

.home-icon {
  display: none;
}
.icons {
  display: none;
}
@media (max-width: 480px) {
  .menu-links nav ul li {
    font-size: 3rem;
    align-items: center;
    padding: 0;
    font-weight: 700;
  }
  .info {
    display: none;
  }
  .socials {
    display: none;
  }
  .logo h2 {
    display: none;
  }
  .logo-active h2 {
    display: none;
  }
  .menu-links {
    top: 200px;
  }
  .home-icon {
    display: block;
  }

  .icons {
    display: block;
    position: absolute;

    color: black;
    top: 350px;
    margin: 0 auto;
    font-weight: 600;
  }
  .icons span {
    font-size: 2rem;
    margin-left: 10px;
  }
  .App-header {
    padding: 50px;
  }
  .App-header h1 {
    font-size: calc(1rem + 3vw);
    text-transform: lowercase;
    font-family: "Share Tech Mono", monospace;
  }
  .button1 {
    background: #61dafb;
    width: 15%;
    min-width: 150px;
    height: 50px;
    color: black;
    cursor: pointer;
    transition: all 0.8s;
    border-radius: 40px;

    font-size: 28px;
    max-width: 1280px;
    font-family: "Share Tech Mono", monospace;
    margin: 10px auto;
    padding: 0 20px;
    outline: none;
  }
  .App-header img {
    height: 300px;
  }
}
